[Unit]
Description=Vibration Table Controller UI
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/vtc
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /opt/vtc/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
