[Unit]
Description=Vibration Table Controller
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/vtc
ExecStart=/usr/bin/python3 /opt/vtc/app.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target

